<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICommentsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="#{ServiceEndPoint}"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommentsService"
                contract="CommentsService.ICommentsService" name="BasicHttpBinding_ICommentsService" />
        </client>
    </system.serviceModel>
</configuration>