<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="RabbitRequestsQueue" value="articles-requests"/>
    <add key="RabbitAnnounceExchange" value="articles" />
  </appSettings>
  <connectionStrings>
    <add name="RabbitConnection" connectionString="amqp://guest:guest@localhost:5672/" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICommentsService" />
        <binding name="BasicHttpBinding_IArticlesService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51430/Services/CommentsService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommentsService"
          contract="CommentsService.ICommentsService" name="BasicHttpBinding_ICommentsService" />
      <endpoint address="http://localhost:51430/Services/ArticlesService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IArticlesService"
          contract="ArticlesService.IArticlesService" name="BasicHttpBinding_IArticlesService" />
    </client>
  </system.serviceModel>
</configuration>