.articles-list {
  list-style-type: none;
  position: relative;

  & > li {
    min-height: 2em;
    min-width: 15em;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5em 1em;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: gray;

    &.selected {
      background-color: #4d6dc1;

      &:hover {
        background-color: #4d6dc1;
      }
    }

    &:first-child {
      border-top: solid 1px grey;
    }

    &:hover {
      background-color: lightgray;
      transition: background-color 200ms linear;
    }

    &.action {
      background-color: lightgreen;

      &:hover {
        background-color: green;
        transition: background-color 200ms linear;
      }
    }
  }
}
