<div *ngIf="article" class="article-view">
  <div class="header">
    <h2>{{article.title}}</h2>
    <div class="actions">
      <button mat-button (click)="onEdit()">Edit</button>
      <button mat-button (click)="onDelete()">Delete</button>
      <button mat-button (click)="onRefresh()">Refresh</button>
      <button mat-button (click)="onAddComment()">Add Comment</button>
    </div>
  </div>
  <div class="content">{{article.content}}</div>
  <div class="footer">By {{article.author}} at {{article.created | date:'dd.MM.yyyy HH:mm'}}</div>
  <div class="comments">
    <comment-view *ngFor="let comment of article.comments" [comment]="comment"></comment-view>
  </div>
</div>
